main{
  background: white;
  height: 400px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 400px;
}

.dice__component{
  display: grid;
  gap:15px;
  grid-template-columns: repeat(5,1fr);
}

/* .dice__component{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    cursor: pointer;
} */

.dice__component div{
  width: 50px;
  padding: 10px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  font-weight: bold;
  
  
}

button{
  background: blue;
  border:none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
